*{
    font-family: sans-serif;
    margin:0px;
    padding:0;
}

#logo{
    width:30vh;
}

.logo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left:40px;
}

#link{
padding-top:10px;
text-decoration: none;
color:#321515;
}

#link:hover{
color:white;
}

header, footer{
    background-color: #836f63;
    margin:0 0;
    padding:1rem;
}

footer,.intro{
    padding:2rem;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro{
    flex-direction: column;
    align-items: center;
    background-color:#321515f6 ;
}

.header-row {
    position: relative;
}

#buttones,#buttonen{
    position: absolute;
    bottom:0;
    right: 80px;
    padding:10px;
    border-radius: 30px;
    background-color:rgb(65, 65, 65); 
    border:solid 2px white;
    color: white;
    cursor:pointer; 
}

#buttonen{
    right: 175px;
}

#buttones:hover,#buttonen:hover{
    background-color:#C58264;
    color:white;
    border:solid 1px white;
}

.game-score-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:1rem 1rem;
    background-color: #C58264;
    color:white;
}

#question{
    padding:1rem 1rem;
    margin-right:200px;
    margin-left:200px;
}

#score{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5px;
    border:white solid 1px;
    padding:10px;
    align-items: center;
    font-size: 1.3rem;
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 30px;
    border-radius: 5px;
}

#gallery{
    width:500px;
    height:500px;
    background-color:rgb(65, 65, 65);
    padding: 20px;
    display:flex;
    flex-wrap:wrap;
    border-radius: 5px;
}

.imagebox{
    width:33%;
    height:auto;
    display:flex;
}

.image{
    width:95%;
    height:auto;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 7%;
    border: 1px solid gray;
}

.image:hover{
    border-color:whitesmoke;
    border-width: 3px;
    cursor:pointer;
}

.aside-container{
    background-color: rgb(65, 65, 65);
    color:white;
    margin-bottom: 20px;
    border-radius: 5px;
}
.row{
    padding:5px;
}
.col{
    display: flex;
    padding-left:20px;
    border-top: white .1px solid;
}

button{
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ddd;
    cursor: pointer;
    padding:10px;
}

@media screen and (max-width: 780px) {
    #container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .aside-container{
        background-color: rgb(65, 65, 65);
        color:white;
        font-size: small;
    }

    .row{
        padding:0 5px;
        display: flex;
        justify-content: space-between;
    }
    .col{
        border-top: white .1px solid;
        display: flex;
        flex-direction: column;
    }
    
    button{
        background-color: #ddd;
        cursor: pointer;
    }
}

@media screen and (max-width: 650px) {
    .header-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    }

    #buttonen,#buttones{
        margin-right:50px;
    }
    #link{
        padding-bottom:30px;
    }

    .game-score-container{
        flex-direction: row-reverse;
        padding-top: 5px;
    }
    #score{
        margin-right:100px;
    }
    #question{
        margin-left:10px;
    }
    .aside-container{
        display:none;
    }
    #container{
        margin-top: 0;
    }
    #gallery{
        width:375px;
        height:auto;
    }
}
@media screen and (max-width: 650px) {
    .logo-container{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
    }

}
@media screen and (max-width: 300px) {
    #gallery{
        width:275px;
        height:auto;
    }
    .logo-container{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
    }
    #question{
    font-size: 20px;
    margin-right:1px;
    }
    #buttonen,#buttones{
        margin-right:20px;
    }
    #logo{
        margin-right:2px;
    }

}